# GitHub Secrets
SERVER_NAME=host_name # Адрес, на котором будет работать главный сервис
# TODO: автоматическая загрузка на удалённый сервер с помощью CI/CD
SERVER_LOGIN=         # Имя пользователя, от имени которого будет загрузка на сервер
# SSH-ключ для подключения к серверу
SERVER_SSH_KEY=

# project secrets
# для каждого проекта пишите свои секреты отдельно
COOL_PROJECT_HOST=cool_project  # Пишите название сервиса в docker-compose, так как все контейнеры объединены в одну сеть
COOL_PROJECT_PORT=80            # Пишите порт, на котором работает ваше приложение